[Unit]
Description=cam-health

[Service]
ExecStart=/home/cam/code/adventure_labs/rugged_cam/release_binaries/cam-health

Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
WorkingDirectory=/home/cam/code/adventure_labs/rugged_cam

[Install]
WantedBy=multi-user.target