[Unit]
Description=Takes photo upon motion.

[Service]
ExecStart=/home/cam/code/adventure_labs/rugged_cam/release_binaries/run_smart_cam --oak 41_40338-2_17403 0

Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s
WorkingDirectory=/home/cam/code/adventure_labs/rugged_cam

[Install]
WantedBy=multi-user.target