__pycache__/
receiving_dock/*
!receiving_dock/README.md
loading_dock/*
!loading_dock/compressed/README.md
!loading_dock/original/README.md
logs/receiver/*
!logs/receiver/README.md
logs/unloader/*
!logs/unloader/README.md
client_secrets.json
client_creds.txt